@font-face{
    font-family: Helvetica Neue;
    src: url(fonts/HelveticaNeue-Medium.otf);
}
@font-face{
    font-family: Helvetica Neue Bold;
    src: url(fonts/HelveticaNeueBold.ttf);
}
@font-face{
    font-family: Helvetica Neue Ultra Light;
    src: url(fonts/HelveticaNeueUltraLight.ttf);
}
@font-face{
    font-family: Helvetica Neue Extended Oblique;
    src: url(fonts/HelveticaNeue-ExtendedObl.otf);
}
@font-face{
    font-family: Helvetica Neue Border;
    src: url(fonts/helvetica-75-bold-outline-587ebe00b76ba.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

#time {
    font-size: 8rem;
    top-margin: 0px;
    font-family: Helvetica Neue Ultra Light;
}

h1{
    margin-bottom: 3rem;
    font-family: Helvetica Neue Extended Oblique;
}

h2{
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

@media(max-width: 700px){
    font-size: 6rem;
}

#apollo{
    width: 200px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#greeting{
    font-family: Helvetica Neue Extended Oblique;
    text-align: left;
    margin: 10px;
    vertical-align: bottom;
}

#spinny_thingy{
    padding: 30px;
}

h2{
    padding-top: 500px;
}

.title{
    background-color: Black;
    color: White;
    font-family: Helvetica Neue Extended Oblique;
    font-size: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    margin-bottom: 0px;
}

.navbar{
    width: 100%;
    background-color: Black;
    padding-bottom: 10px;
}

.navbar_btn{
    background-color: Black;
    color: White;
    font-size: 20px;
    font-family: Helvetica Neue Extended Oblique;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
}

#title_image{
    margin-top: 0px;
    padding-top: 0px;
    background-image: url('../res/titlepage/IMG_1625.jpg');
    width: 100%;
    height: 560px;
}

.art_block{
    margin-top: 40px;
    margin-bottom: 40px;
    /*padding-bottom: 50px;*/
}
.art_img{
    width: 30%;
    height: auto;
}
.art_title{
    font-family: Helvetica Neue Border;
    padding-bottom: 10px;
}
.art_caption{
    font-family: Helvetica Neue;
}
.art_price{
    font-family: Helvetica Neue Bold;
    color: Green;
    text-decoration: none;
}

.section_title{
    color: White;
}
.title_block{
    background: Black;
    width: 100%;
    height: 45px;
}